/*タブレット向けレイアウト*/
@media(max-width: 1000px){


/*スマホ向けレイアウト*/
@media(max-width: 670px){
  .header-left{
    font-size: 16px;
  }

  .btn{
    width: 100%;
  }

  .top-wrapper{
    text-align: left;
  }

  .container h1{
    font-size: 20px;
    letter-spacing: none;
  }

  .header-right{
    display: none;
  }

  .fa fa-bars menu-icon{
    display: block;
  }
}
