/*タブレット向けレイアウト*/
@media(max-width: 1000px){


/*スマホ向けレイアウト*/
@media(max-width: 670px){
  header{
    height:40px;
  }

  .header-left{
    font-size: 20px;
  }

  .btn{
    width: 100%;
  }

  .top-wrapper{
    background-size: cover;
    height: auto;
  }


  .container h1{
    font-size: 20px;
    letter-spacing: none;
  }

  .header-right{
    display: none;
  }

  .menu-icon{
    display: block;
  }

  .footer-logo {
    font-size: 15px;
  }

  footer p{
    font-size: 10px;
  }
}
