/*タブレット向けレイアウト*/
@media(max-width: 1000px){


/*スマホ向けレイアウト*/
@media(max-width: 670px){
  header{
    height:40px;
  }

  .header-left{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .btn{
    width: 100%;
  }

  .container h1{
    font-size: 20px;
    letter-spacing: none;
  }

  .header-right{
    display: none;
  }

  .menu-icon{
    display: block;
  }
}
